/* 
Fait par Tristan Lienard.
Css utilisé pour les onglets.
*/

#onglets
{
	position: absolute;
	border: 1px solid transparent;
	padding: 0;
	font : bold 11px serif;
	list-style-type: none;
	left: 50%;
	margin-top: 0;
	margin-left: -215px;
	-moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#onglets li
{
	float: left;
	height: 21px;
	background-color: #F4F9FD;
	margin: 2px 2px 0 2px !important;
	margin: 1px 2px 0 2px;
	border: 1px solid #9EA0A1;
}

#onglets li.active
{
	border-bottom: 1px solid #fff;
	background-color: #fff;
}

#onglets a
{
	display: block;
	color: #666;
	text-decoration: none;
	padding: 4px;
}

#onglets a:hover
{
	background-color: #fff;
}

#menu
{
	border-bottom: 1px solid #9EA0A1;
	padding-bottom: 25px;

}

.visible{
	display: block;
	float: left;
	width: 60%;
}
.cache{
	display: none;
}
#final-script{
	margin-top: 8.5px;
	width: 100%;
	height:34em;
	resize:none;
	
}
#formulaire{
	float: left;
	width: 39%;
	height: 100%;
}


